extends /layout

block append headLink
  style
    include index.css

block body
  .container
    .row
      .col-xs-12.col-lg-8.col-lg-offset-2
        h2= title
        hr
        .accounts
          each item in accounts
            .panel(class=(`panel-${item.type === '-1' ? 'danger' : 'success'}`))
              .panel-heading= item.time
              .panel-body
                .col-xs-6= item.title
                .col-xs-2.text-center
                  span.label(class=(`label-${item.type === '-1' ? 'warning' : 'success'}`))= item.type === '-1' ? '支出' : '收入'
                .col-xs-2.text-rignt #{item.account} 元
                .col-xs-2.text-rignt
                  a(href=`/account/${item.id}`)
                    span.glyphicon.glyphicon-remove(aria-hidden="true")
          else
            |暂无数据